@use '../../colors.scss' as c;

app-button {
  button {
    color: c.$primary;
    border: none;
    width: fit-content;
    background: #ffffff00;
    padding: 10px 20px;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 10px;
  }
  
  button.secondary {
    background: transparent;
    color: c.$primary;
  }
  
  button.primary {
    background: c.$primary;
    color: c.$on-primary-font;
  }
  
  
  button:hover {
    cursor: pointer;
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    transform: scale(.95);
  }
}